<div class="ui one column stackable grid">
    <div class="column">
        {{ form_errors(form) }}
        <div class="ui segment">
            {{ form_row(form.title) }}
            {{ form_row(form.body) }}
        </div>
    </div>
</div>
