<h1 class="ui header">
    <i class="circular envelope icon"></i>
    <div class="content">
        {{ 'speardevs_sylius_push_notifications_plugin.ui.send_push_notification'|trans }}
    </div>
</h1>
