<div class="ui stackable two column grid">
    <div class="ten wide column">
        {% include '@SpearDevsSyliusPushNotificationsPlugin/Admin/PushNotifications/_header.html.twig' %}
    </div>
</div>
